# =========================
# Build artifacts
# =========================
build/

# =========================
# Python cache files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Model checkpoints
# =========================
model_ckpts/

# =========================
# OS files
# =========================
.DS_Store

